* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: url("../img/gambarbg.png");
  color: #fff;
}

h1 {
  text-align: center;
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  color: #fff;
  margin-top: 70px;
  font-size: 32px;
}

a {
  text-decoration: none;
}

.avatar {
  widows: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 135px;
  left: calc(50% - 50px);
}

.tulisan_login {
  text-align: center;
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 30px;
  text-transform: uppercase;
}

.kotak_login {
  width: 350px;
  background: rgba(0, 0, 0, 0.5);
  /*meletakkan form ke tengah*/
  margin: 80px auto;
  padding: 30px 20px;
  border-radius: 8px;
}

.underline-title {
  background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
  height: 2px;
  margin: -0.1rem auto 0 auto;
  width: 150px;
}

form {
  margin: 20px 0;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  height: 30px;
  padding: 0;
  border-radius: 4px;
  color: #454545;
  overflow: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: 1px solid #e9cd00;
}

button[type="submit"]:hover {
  cursor: pointer;
  background: #7be2f7;
  color: #000;
}

button[type="submit"] {
  width: 30%;
  background: white;
  padding: 10px;
  border: 0.5px solid white;
  border-radius: 10px;
  margin-left: 35%;
  margin-top: 13px;
}
